In [ ]:
##Function to excute live data

In [1]:
def load_live_data():
    import urllib.request
    url='https://covid.ourworldindata.org/data/ecdc/full_data.csv'
    with urllib.request.urlopen(url) as testfile, open('full_data.csv', 'w') as f:
        f.write(testfile.read().decode())
load_live_data

In [ ]:
##Tried to insert the data into the table

In [2]:
import csv
import requests
url = 'https://covid.ourworldindata.org/data/ecdc/full_data.csv'
response = requests.get(url)        
with open('full_data.csv', 'w') as f:
    writer = csv.writer(f)
    for line in response.iter_lines():
        writer.writerow(line.decode('utf-8').split(','))

In [3]:
import pandas as pd
url='https://covid.ourworldindata.org/data/ecdc/full_data.csv'
df = pd.read_csv(url)  
df.head()

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2019-12-31  Afghanistan          0           0            0             0
1  2020-01-01  Afghanistan          0           0            0             0
2  2020-01-02  Afghanistan          0           0            0             0
3  2020-01-03  Afghanistan          0           0            0             0
4  2020-01-04  Afghanistan          0           0            0             0

In [ ]:
###Python fuction to download the data from the website and Update into the database

In [1]:
import pyodbc
import csv

In [ ]:
###Code

In [3]:
def insert_fresh_data():
    cnxn = pyodbc.connect('Driver={SQL Server};Server=KTCL-5CG9362KK1\SQLEXPRESS;Database=COVID-19;Trusted_Connection=yes;')
    cursor = cnxn.cursor()
    
    cursor.execute('''TRUNCATE TABLE [dbo].[full_data]''') # removes the data of the table except column names               
    cnxn.commit()

 

    cursor=cnxn.cursor()
    url='https://covid.ourworldindata.org/data/ecdc/full_data.csv'
    df = pd.read_csv(url)
    df.to_csv('full_data.csv',index=False,header=True)  #replace the fresh data into file
    
    for rows in df.itertuples(index=False): # Iterate through each row elementof dataframe
        cursor.execute("INSERT INTO [dbo].[full_data](date,location,new_cases,new_deaths,total_cases,total_deaths) VALUES (?,?,?,?,?,?)",rows)
    cnxn.commit()
insert_fresh_data()