In [1]:
import pyodbc

In [ ]:
#Connecting to SQL Server from python

In [ ]:
cnxn = pyodbc.connect(r'Driver={SQL Server};Server=KTCL-5CG9362KK1\SQLEXPRESS;Database=New_PyhonDb;Trusted_Connection=yes;')
cursor = cnxn.cursor()
cursor.execute("SELECT * FROM [dbo].[Global Superstore-1]")
while 1:
    row = cursor.fetchone()
    if not row:
        break
    print(row)
cnxn.close()

In [ ]:
#Finding the Max of sales

In [3]:
cnxn = pyodbc.connect(r'Driver={SQL Server};Server=KTCL-5CG9362KK1\SQLEXPRESS;Database=New_PyhonDb;Trusted_Connection=yes;')
cursor = cnxn.cursor()
result = cursor.execute("SELECT MAX([Sales]) FROM [dbo].[Global Superstore-1]").fetchall()
print(result)
cnxn.close()

[(22638.48, )]

In [ ]:
#Updating the records to the table

In [ ]:
cnxn = pyodbc.connect(r'Driver={SQL Server};Server=KTCL-5CG9362KK1\SQLEXPRESS;Database=New_PyhonDb;Trusted_Connection=yes;')
cursor = cnxn.cursor()
result_update = cursor.execute("UPDATE [dbo].[Global Superstore-1] SET State = 'Risaralda' WHERE Row_ID = '1' ")
result_select = cursor.execute('select * from [dbo].[Global Superstore-1]').fetchmany(5)
print(result_select)
cnxn.close()

In [ ]:
#Updating the records to the database

In [4]:

cnxn = pyodbc.connect('Driver={SQL Server};Server=KTCL-5CG9362KK1\SQLEXPRESS;Database=New_PyhonDb;Trusted_Connection=yes;')
cursor = cnxn.cursor()
cursor.execute('SELECT * FROM New_PyhonDb.[dbo].[Global Superstore-1]')
cursor.execute('''UPDATE New_PyhonDb.[dbo].[Global Superstore-1]
                    SET State = 'Risaralda',Customer_Name = 'Charan Tej P V' 
                    WHERE Row_ID = '1'
                    ''')
cnxn.commit()

In [ ]:
#Inserting into the database

In [ ]:
cursor = cnxn.cursor()
cursor.execute('''INSERT INTO New_PyhonDb.[dbo].[Global Superstore-1] VALUES (80000,'CA-2012-124891','7/31/2012','7/31/2012','Same Day',
'RH-3478','Charan Tej','Consumer','New York City','Karnataka','TEC-AC-10003033','Technology','Accessories',
'Product Name','Nokia Smart Phone with Caller ID',4000,8,0.3,700,600,'Medium'),(80001,'CA-2012-124891','7/31/2015','7/31/2015',
'Same Day','RH-3478','Chandan','Consumer','New York City','Karnataka','TEC-AC-10003033','Technology','Accessories',
'Product Name','Nokia Smart Phone with Caller ID',3000,8,0.5,700,800,'Critical'),(80002,'CA-2012-124891','7/31/2016','7/31/2016','Standard',
'RH-3478','Sneha','Consumer','New York City','Karnataka','TEC-AC-10003033','Technology','Accessories','Nokia Smart Phone with Caller ID',6000,
5,0.6,700,567,'Medium'),(80003,'CA-2012-124891','7/31/2012','7/31/2012','Same Day','RH-3478','Maruthi','Consumer','New York City',
'Karnataka','TEC-AC-10003033','Technology','Accessories','Nokia Smart Phone, with Caller ID',5000,4,0.4,756,687,'Critical'),(80004,
'CA-2012-124891','7/31/2012','7/31/2012','Same Day','RH-3478','Ankit','Consumer','New York City','Karnataka','TEC-AC-10003033',
'Technology','Accessories','Nokia Smart Phone, with Caller ID',9000,12,0.1,398,800,'Medium'),(80005,'CA-2012-124891','7/31/2012','7/31/2012',
'Same Day','RH-3478','Avinash','Consumer','New York City','Karnataka','TEC-AC-10003033','Technology','Accessories','Nokia Smart Phone, with Caller ID',7000,13,0.2,400,600,'Medium')''')
cnxn.commit()

In [9]:
cursor=cnxn.cursor()
cursor.execute('''Insert into New_PyhonDb.[dbo].[Global Superstore-1] values(60007,'CA-2012-124891','12/27/2014','9/30/2015','First Class','RH-19495','Ankit','Consumer','Banglore','Karnataka','INDIA',1,'APAC','North','TEC-AC-10003033', 'Technology','Accessories','OPPO',10000,2,0.0,458,234,'Medium'),
(60008,'CA-2012-124891','12/27/2014','9/30/2015','First Class','RH-19495','Sagar','Consumer','Chickamagalur','Karnataka','INDIA',1,'APAC','North','TEC-AC-10003033', 'Technology','Accessories','OPPO',10500,2,0.0,458,234,'Medium')''')
cnxn.commit()

In [ ]:
#Updating the values to the table

In [10]:
cursor = cnxn.cursor()
cursor.execute('''UPDATE New_PyhonDb.[dbo].[Global Superstore-1]
SET Customer_Name ='Charan Tej',City = 'Bangalore' 
WHERE Row_ID = 60008''')
cnxn.commit()

In [ ]:
#Deleting the records from the table

In [11]:
cursor = cnxn.cursor()
cursor.execute('''DELETE FROM  New_PyhonDb.[dbo].[Global Superstore-1] WHERE City ='Bangalore' ''')
cnxn.commit()

In [12]:
#Fetching last 10 recodrs

In [ ]:
cursor = cnxn.cursor()
Fetch_last_Ten = cursor.execute('''SELECT TOP 10 * FROM New_PyhonDb.[dbo].[Global Superstore-1] ORDER BY [Row_ID] DESC''').fetchall()
print(Fetch_last_Ten)
cnxn.commit()

In [16]:
#Using Aggregate Functions

In [ ]:
#Minimum Sales

In [ ]:
cursor = cnxn.cursor()
Minimum_Sales = cnxn.execute('''SELECT State,MIN(Sales) FROM New_PyhonDb.[dbo].[Global Superstore-1] GROUP BY State''').fetchall()
print(Minimum_Sales)
cnxn.commit()

In [18]:
#Maximum Sales

In [ ]:
cursor = cnxn.cursor()
Maximum_Sales = cnxn.execute('''SELECT State,MAX(Sales) FROM New_PyhonDb.[dbo].[Global Superstore-1] GROUP BY State''').fetchall()
print(Maximum_Sales)
cnxn.commit()

In [20]:
#Count of Sales by state

In [ ]:
cursor = cnxn.cursor()
Count_of_Sales = cnxn.execute('''SELECT State, Count(*) FROM New_PyhonDb.[dbo].[Global Superstore-1] GROUP BY State''').fetchall()
print(Count_of_Sales)
cnxn.commit()

In [23]:
#Total Number of Sales

In [ ]:
cursor = cnxn.cursor()
Total_Sales = cnxn.execute('''SELECT State, SUM(Sales) FROM New_PyhonDb.[dbo].[Global Superstore-1] GROUP BY State''').fetchall()
print(Total_Sales)
cnxn.commit()
cnxn.close()